.App {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-areas: "nav" "main" "footer";
}

.nav {
  grid-area: nav;
}
.main-page {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

body {
  font-size: 15px;
}
.card {
  border: 1px solid rgba(28, 75, 13, 0.185);
  box-shadow: 0 10px 10px -5px;
  height: auto;
  background-color: rgba(118, 179, 103, 0.123);
  border-radius: 70px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  padding: 20px;
  width: 500px;
  font-size: 17px;
}

li {
  list-style: none;
  font-family: "Kosugi Maru", sans-serif;
}

h1 {
  font-size: 50px;
}

.main-page {
  text-align: center;
  height: 72vh;
  display: flex;
  flex-direction: column; 
  font-size: 20px;
  max-width: 70%;
  margin: auto;
}

h2 {
  font-size: 90px;
  font-family: "Sawarabi Mincho", sans-serif;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h3 {
  text-align: center;
  font-size: 28px;
  margin: 30px;
  margin-left: 110px;
  border: cadetblue solid 1px;
  width: 300px;
  padding: 10px;
  border-radius: 20px;
}

.kanji {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.kanji-content {
  margin-top: 10px;
  margin-left: 15px;
}

.footer {
  text-align: center;
}

.loader {
  text-align: center;
  font-size: 1.8rem;
  font-family: "Kosugi Maru", sans-serif;
  margin: 200px;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar li {
  font-family: "Montserrat", sans-serif;
  padding: 5px;
}

.navbar li a {
  font-family: "Montserrat", sans-serif;
  padding: 15px;
  font-size: 20px;
}

footer {
  height: 10vh;
  width: 100%;
  background-color: #eee;
  padding: 10px;
}

.footer .fa {
  color: #78c2ad;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.footer .fa:hover {
  color: rgb(243, 150, 154);
  transition: 0.3s;
}

.main-btn {
  width: 300px;
  margin-bottom: 10px;
  font-size: 40px;
  border-radius: 30px;
}