.App {
  height: 100%;
  width: 100%;
}

body {
  font-size: 15px;
}
.card {
  border: 1px solid rgba(28, 75, 13, 0.185);
  box-shadow: 0 10px 10px -5px;
  height: auto;
  background-color: rgba(118, 179, 103, 0.123);
  border-radius: 70px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  padding: 20px;
  width: 500px;
  font-size: 17px;
}

li {
  list-style: none;
  font-family: "Kosugi Maru", sans-serif;
}

h1 {
  font-size: 50px;
}

.main-page {
  /* display: flex; */
  /* flex-direction: column; */
  font-size: 20px;
  max-width: 80%;
  margin: auto;
}

h2 {
  font-size: 90px;
  font-family: "Sawarabi Mincho", sans-serif;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h3 {
  text-align: center;
  font-size: 28px;
  margin: 30px;
  margin-left: 110px;
  border: cadetblue solid 1px;
  width: 300px;
  padding: 10px;
  border-radius: 20px;
}

.kanji {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.kanji-content {
  margin-top: 10px;
  margin-left: 15px;
}

.loader {
  text-align: center;
  font-size: 1.8rem;
  font-family: "Kosugi Maru", sans-serif;
  margin: 200px;
}

.navbar {
  background-color: #78c2ad;
  color: rgb(175, 144, 144);
}

/* .navbar li {
  font-family: "Montserrat", sans-serif;
  padding: 5px;
}

.navbar li a {
  font-family: "Montserrat", sans-serif;
  padding: 15px;
  font-size: 20px;
} */

.navbar-brand {
  font-size: 15px;
  text-align: right;
  background-color: rgba(86, 138, 90, 0.699);
}

footer {
  width: 100%;
  text-align: center;
  background-color: #eee;
  padding: 10px;
  bottom: 0;
}

.footer .fa {
  color: #78c2ad;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.footer .fa:hover {
  color: rgb(243, 150, 154);
  transition: 0.3s;
}

.main-btn {
  width: 300px;
  margin-bottom: 10px;
  font-size: 40px;
  border-radius: 30px;
  margin: 10px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 25px;
  }
  p {
    font-size: 12px;
  }
  .main-btn {
    height: 40px;
    width: 200px;
    font-size: 15px;
    margin-left: -10px;
  }
  footer {
    margin-top: 10px;
    font-size: 10px;
    height: 15px;
    padding: 0;
    line-height: 0;
    bottom: 0;
  }
  .footer .fa {
    font-size: 10px;
  }
  h3 {
    font-size: 15px;
    margin-left: 23px;
    border: cadetblue solid 1px;
    width: 180px;
  }
  .loader {
    font-size: 15px;
    margin: 0px;
    margin-top: 50px;
  }
}

.card .fa {
  font-size: 30px;
  color: teal;
}

.kanji-bookmark {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
